<div>
  <div>
    <h1>
     <%= @the_must_see_sight.name %> 
    </h1>

    <div>
      <h3><%= @the_must_see_sight.body %></h3>

    </div>
    <div>
    <h3>
    City: <a href= "/cities/<%= @the_must_see_sight.city_id %>"><%= @the_must_see_sight.city.name %></a>
    </h3>
    </div>

</div>

<hr>

<div>
  <div>
    <% if @current_user != nil %>
    <% current_user_sights = MustSeeSight.where ({ :id => @the_must_see_sight.id, :user_id => session.fetch(:user_id)}) %>

    <% the_sight = current_user_sights.at(0) %>

    <% if the_sight != nil %>
    <h2>
      Edit This Sight
    </h2>

    <form action="/modify_must_see_sight/<%= @the_must_see_sight.id %>"  method="post" >
      <div>

        <input type="hidden" id="city_id_box" name="query_city_id" value="<%= @the_must_see_sight.city_id %>">
      </div>

      <div>

        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_must_see_sight.user_id %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_must_see_sight.name %>">
      </div>
      
      <div>
        <label for="body_box">
          Body
        </label>

        <input type="text" id="body_box" name="query_body" value="<%= @the_must_see_sight.body %>">
      </div>

      <button>
        Update This Sight
      </button>
    </form>
  </div>
</div>
  <div>
    <a href="/delete_must_see_sight/<%= @the_must_see_sight.id %>">
          Delete Sight
    </a>
  </div>

<hr>
<% else%>

<% end %>
<% end %>
