<p><%= alert %></p>

<div>
  <div>
    <h1>
      List of all cities
    </h1>
  </div>
</div>

<hr>

    <h2>
      Add a new city
    </h2>
    <div>
    <form action="/insert_city" method="post">
  
    <div>
      <label for="country_box">
        Country
      </label>
          <select name="query_country_id">
        <% Country.all.order(:name).each do |a_country| %>
        
        <option value="<%= a_country.id %>" >
       <%= a_country.name %>
      
         <% end%>
        </div>
    </div>



      <div>

        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= session.fetch(:user_id) %>" >
      </div>

        <div>
        <label for="name_box">
          City
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <input type="text" id="body_box" name="query_body">
      </div>

      <button>
        Create city
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Country
        </th>

        <th>
          City
        </th>

        <th>
          User
        </th>

        <th>
          Description
        </th>

        <th>
          Details
        </th>

      </tr>

      <% @list_of_cities.each do |a_city| %>
      <tr>


        <td>
          <a href="/countries/<%= a_city.country.id %>">
          <%= a_city.country.name %>
          </a>
        </td>

        <td>
      
          <%= a_city.name %>
        </td>

        <td>
          <%= a_city.user.first_name%>
        </td>

        <td>
          <%= a_city.body %>
        </td>

        <td>
          <a href="/cities/<%= a_city.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
