<div>
  <div>
    <h1>
   <%= @the_city.name %> 
    </h1>

    <div>
      <div>
        <a href="/cities">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_city/<%= @the_city.id %>">
          Delete city
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Country
      </dt>
      <dd>
       <a href="/countries/<%= @the_city.country_id %>"> <%= @the_city.country.name %></a>
      </dd>

      

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_city.body %>
      </dd>

    </dl>
  </div>
</div>
<hr>

 
<div>
  <div>
    <% if @current_user != nil %>
    <% current_user_cities = City.where ({ :id => @the_city.id, :user_id => session.fetch(:user_id)}) %>

    <% the_city = current_user_cities.at(0) %>

    <% if the_city != nil %>
    <h2>
      Edit city
    </h2>

    <form action="/modify_city/<%= @the_city.id %>"  method="post" >
      <div>
        <label for="country_id_box">
        </label>

        <input type="hidden" id="country_id_box" name="query_country_id" value="<%= @the_city.country_id %>">
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_city.name %>">
      </div>

      <div>
        <label for="user_id_box">
        </label>

        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_city.user_id %>">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <input type="text" id="body_box" name="query_body" value="<%= @the_city.body %>">
      </div>

      <button>
        Update city
      </button>
    </form>
  </div>
<% else%>

<% end %>
<% end %>


<hr>
<h2>Top Attractions</h2>

<table border="1">
  <tr>
    <th>
      Must See Sight
    </th>

    <th>
      Description
    </th>

     <th>
      Details
    </th>
  </tr>

  <% @the_city.must_see_sights.each do |a_sight| %>
    <tr>
      <td>
        <%= a_sight.name %>
      </td>

      <td>
        <%= a_sight.body %>
      </td>

     
      <td>
        <a href="/must_see_sights/<%= a_sight.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>


<div>
  <div>
    <h2>
      Add a Sight! 
    </h2>

    <form action="/insert_must_see_sight" method="post">
      <div>
        <label for="city_id_box">
        </label>

        <input type="hidden" id="city_id_box" name="query_city_id" value="<%= @the_city.id %>" >
      </div>

      <div>
        <label for="user_id_box">
        </label>

        <input type="hidden" id="user_id_box" name="query_user_id" value= "<%= @the_city.user_id %>"" >
      </div>

      <div>
        <label for="name_box">
          Sight
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="body_box">
          Description
        </label>

        <input type="text" id="body_box" name="query_body">
      </div>

      <button>
        Create must see sight
      </button>
    </form>
  </div>
</div>
